*{
    margin: 0;
    padding: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
body{
    background:  url(https://tekvizyonpc.com/media/k2/items/cache/398a8bc2e3f7f879ff0986359513be80_XL.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
form{
    background: #262626;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    width: 300px;
    height: 400px;
    h2{
        font-size: 50px;
        color: white;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    input{
        border: none;
        background: none;
        text-align: center;
        outline: none;
        padding: 10px;
        margin: 20px;
        color: white;
        border: 2px solid#55E6C1;
        height: 30px;
        border-radius: 40px;
        transition: 0.2s ease-in;
        &:last-child{
            box-sizing: border-box;
            height: 40px;
            width: 40%;
            cursor: pointer;
            &:hover{
                background-color: #55E6C1;
            }
        }
        
    }
    .input1{
        border: 2px solid#1B9CFC;
        width: 70%;
        &:hover{
            width: 80%;
        }
    }
   
}


}