.content{
    width: 960px;
    margin: auto;
}
.ust{
    height: 75px;
    background-color: aqua;
    text-align: center;
    margin-bottom: 10px;
    line-height: 75px;
}
.orta .orta-sol{
    height: 500px;
    width: 130px;
    background-color: brown;
    text-align: center;
    display: table;
    display: table-cell;
    vertical-align: middle;
    float: left;
    clear: both;
}
.orta .ort{
    width: 700px;
    height: 500px;
    background-color: chartreuse;
    float: left;
    text-align: center;
    text-transform: uppercase;
    line-height: 490px;
    
}
.orta .orta-sag{
    height: 500px;
    width: 130px;
    background-color: brown;
    text-align: center;
    line-height: 475px;
    float: right;
}
.alt{
    height: 75px;
    width: 960px;
    background-color: aqua;
    float: left;
    clear: both;
    text-align: center;
}