#kutu1{
    height: 150px;
    width: 150px;
    background-color: #A8A82E;
    color: white;
    float: left;
    margin-right: 10px;
}
#kutu2 {
    height:150px;
    width:150px;
    background-color:#0B9E8E;
    float:left;
    margin-right:10px;
}
#kutu3 {
    height:150px;
    width:150px;
    background-color:#46D056;
    float:left;
    margin-right:10px;
}
#kutu4 {
    height:150px;
    width:150px;
    background-color:#672A65;
    float:left;
    
}
#kutu5 {height:80px;
        width:630px;
        background-color:#07083F;
        margin-top:10px;
        clear:both;
        float:left;      
}