@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@font-face {
  font-family: 'font-icon';
  src: url("../font/font-icon.eot?96517703");
  src: url("../font/font-icon.eot?96517703#iefix") format("embedded-opentype"), url("../font/font-icon.woff2?96517703") format("woff2"), url("../font/font-icon.woff?96517703") format("woff"), url("../font/font-icon.ttf?96517703") format("truetype"), url("../font/font-icon.svg?96517703#font-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'font-icon';
      src: url('../font/font-icon.svg?96517703#font-icon') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-icon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open:before {
  content: '\e800';
}

/* '' */
.icon-up-open:before {
  content: '\e801';
}

/* '' */
.icon-plus:before {
  content: '\e802';
}

/* '' */
.icon-dot-3:before {
  content: '\e804';
}

/* '' */
.icon-minus:before {
  content: '\e805';
}

/* '' */
.icon-users:before {
  content: '\e806';
}

/* '' */
.icon-briefcase:before {
  content: '\e807';
}

/* '' */
.icon-message-square:before {
  content: '\e808';
}

/* '' */
.icon-bell:before {
  content: '\e809';
}

/* '' */
.icon-video-1:before {
  content: '\e80a';
}

/* '' */
.icon-edit:before {
  content: '\e80b';
}

/* '' */
.icon-thumbs-up-1:before {
  content: '\e80d';
}

/* '' */
.icon-share-2-1:before {
  content: '\e80e';
}

/* '' */
.icon-grid:before {
  content: '\e80f';
}

/* '' */
.icon-send-1:before {
  content: '\e811';
}

/* '' */
.icon-camera:before {
  content: '\e813';
}

/* '' */
.icon-calendar-outlilne:before {
  content: '\e814';
}

/* '' */
.icon-hashtag:before {
  content: '\f292';
}

/* '' */
:root {
  --color: #006699;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

*:focus {
  outline: 0;
}

body {
  background-color: #F5F6F8;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header .container {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .search {
  position: relative;
  margin-left: 20px;
  margin-right: 66px;
}

.header .container .search img {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aaa;
}

.header .container .search input {
  width: 100%;
  height: 32px;
  background-color: #DEDEDE;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 15px 0 44px;
}

.header .container .search input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.header .container .search input:-ms-input-placeholder {
  color: #AAAAAA;
}

.header .container .search input::-ms-input-placeholder {
  color: #AAAAAA;
}

.header .container .search input::placeholder {
  color: #AAAAAA;
}

.header .container .menu {
  margin: 0 auto;
}

.header .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
  color: #AAAAAA;
}

.header .container .menu ul li a i {
  font-size: 20px;
}

.header .container .menu ul li a span {
  display: none;
}

.header .container .menu ul li a:hover {
  color: var(--color);
}

.header .container .menu ul li.active a {
  color: var(--color);
}

.header .container .menu ul li.active a i {
  margin-right: 5px;
}

.header .container .menu ul li.active a span {
  display: block;
}

.header .container .user-menu > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .user-menu > a .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
  margin-right: 6px;
}

.header .container .user-menu > a .detail .name {
  font-size: 12px;
}

.header .container .user-menu > a .detail .status {
  font-size: 10px;
}

.header .container .user-menu > a .detail .status.online {
  color: #31B057;
}

.header .container .user-menu > a .detail .status.offline {
  color: #b03131;
}

.header .container .user-menu > a img {
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .container .user-menu > a i {
  color: #A7B4CC;
  font-size: 12px;
  margin-left: 5px;
}

main {
  margin-top: 16px;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sidebar {
  width: 270px;
  min-width: 270px;
}

main .sidebar .widget {
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
}

main .sidebar .widget .widget-button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 40px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color);
  -webkit-transition: 300ms background-color,300ms color;
  transition: 300ms background-color,300ms color;
}

main .sidebar .widget .widget-button:hover {
  background-color: var(--color);
  color: #fff;
}

main .sidebar .widget-stats {
  padding: 8px;
}

main .sidebar .widget-stats .stat-user {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #EDF0F5;
  margin-bottom: 16px;
}

main .sidebar .widget-stats .stat-user .cover {
  height: 43px;
  background: url(../img/bg.png) no-repeat center center;
  background-size: cover;
  border-radius: 4px;
}

main .sidebar .widget-stats .stat-user .avatar {
  text-align: center;
  margin-top: -26px;
  margin-bottom: 10px;
}

main .sidebar .widget-stats .stat-user .avatar img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #fff;
}

main .sidebar .widget-stats .stat-user .name {
  font-size: 16px;
  font-weight: 500;
  color: #17272F;
}

main .sidebar .widget-stats .stat-user .job-title {
  font-size: 14px;
  color: #aaa;
  margin-top: 4px;
}

main .sidebar .widget-stats ul {
  padding: 0 7px 11px;
}

main .sidebar .widget-stats li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

main .sidebar .widget-stats li:not(:last-child) {
  margin-bottom: 16px;
}

main .sidebar .widget-stats li .key {
  color: #17272F;
}

main .sidebar .widget-stats li .value {
  color: var(--color);
  font-weight: 500;
}

main .sidebar .widget-newest h6 {
  font-size: 14px;
  font-weight: 500;
  color: #17272F;
  padding-bottom: 8px;
  border-bottom: 1px solid #EDF0F5;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .sidebar .widget-newest h6 .dropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #31B057;
  font-weight: normal;
}

main .sidebar .widget-newest h6 .dropdown a i {
  color: #aaa;
  font-size: 10px;
  margin-left: 5px;
}

main .sidebar .widget-newest ul {
  padding-bottom: 30px;
}

main .sidebar .widget-newest ul:last-child {
  padding-bottom: 0;
}

main .sidebar .widget-newest ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: var(--color);
  padding: 4px 0;
}

main .sidebar .widget-newest ul li a:hover {
  color: #222;
}

main .sidebar .widget-newest ul li a i {
  width: 21px;
  font-size: 11px;
}

main .sidebar .widget-newest ul li a i.icon-hashtag {
  font-size: 12px;
}

main .sidebar .widget-btn {
  height: 50px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #17272F;
}

main .sidebar .widget-btn i {
  color: var(--color);
}

main .sidebar .widget-btn:hover {
  background: var(--color);
  color: #fff;
}

main .sidebar .widget-btn:hover i {
  color: rgba(255, 255, 255, 0.5);
}

main .sidebar .widget-btn.more {
  height: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 15px;
  color: var(--color);
  -webkit-transition: 300ms background-color, 300ms color;
  transition: 300ms background-color, 300ms color;
}

main .sidebar .widget-btn.more:hover {
  color: #fff;
}

main .sidebar .widget-recommendation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

main .sidebar .widget-recommendation ul li a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sidebar .widget-recommendation ul li a:first-child .image {
  min-width: 24px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .sidebar .widget-recommendation ul li a:first-child .image img {
  max-width: 100%;
}

main .sidebar .widget-recommendation ul li a:first-child .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sidebar .widget-recommendation ul li a:first-child .detail .name {
  font-size: 14px;
  color: #17272F;
  font-weight: 500;
}

main .sidebar .widget-recommendation ul li a:first-child .detail .alt-name {
  font-size: 12px;
  color: #AAAAAA;
  padding-top: 3px;
}

main .sidebar .widget-recommendation ul li a:last-child {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color);
  color: var(--color);
  border-radius: 4px;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 300ms background-color, 300ms color;
  transition: 300ms background-color, 300ms color;
}

main .sidebar .widget-recommendation ul li a:last-child:hover {
  background-color: var(--color);
  color: #fff;
}

main .sidebar .widget-marketing h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .sidebar .widget-marketing h5 .description {
  display: inline-block;
  font-size: 10px;
  color: #aaa;
  margin-top: 4px;
  font-weight: normal;
}

main .sidebar .widget-marketing h5 .more-btn {
  width: 24px;
  height: 24px;
  color: #AAAAAA;
  line-height: 24px;
  font-size: 16px;
}

main .sidebar .widget-marketing h5 .more-btn:hover {
  color: var(--color);
}

main .sidebar .widget-marketing .get-updates .avatar {
  margin-left: 36px;
  margin-bottom: 22px;
  margin-top: 30px;
}

main .sidebar .widget-marketing .get-updates .avatar a:last-child {
  margin-left: 30px;
}

main .sidebar .widget-marketing .get-updates p {
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  color: #17272F;
  margin-bottom: 10px;
}

main .sidebar .widget-marketing .get-updates p span {
  font-weight: 500;
}

main .sidebar .footer {
  margin-top: 38px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

main .sidebar .footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;
}

main .sidebar .footer nav a {
  color: #AAAAAA;
  font-style: normal;
  font-size: 10px;
  font-weight: 400;
  line-height: 11.72px;
  margin-right: 15px;
  margin-bottom: 16px;
}

main .sidebar .footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .sidebar .footer .copyright p {
  font-size: 10px;
  font-weight: 400;
  color: #AAAAAA;
}

main .sidebar .footer .copyright a img {
  width: 44px;
  height: 12px;
}

main .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 30px;
}

main .content .create-post {
  background-color: #fff;
  padding: 16px 16px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

main .content .create-post textarea {
  width: 100%;
  resize: none;
  height: 60px;
  font-size: 14px;
}

main .content .create-post textarea::-webkit-input-placeholder {
  color: #aaa;
}

main .content .create-post textarea:-ms-input-placeholder {
  color: #aaa;
}

main .content .create-post textarea::-ms-input-placeholder {
  color: #aaa;
}

main .content .create-post textarea::placeholder {
  color: #aaa;
}

main .content .create-post .actions {
  border-top: 1px solid #EDF0F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

main .content .create-post .actions li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

main .content .create-post .actions li label input {
  display: none;
}

main .content .create-post .actions li label, main .content .create-post .actions li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

main .content .create-post .actions li label:hover, main .content .create-post .actions li a:hover {
  background-color: #f7f7f7;
}

main .content .create-post .actions li label i, main .content .create-post .actions li a i {
  margin-right: 8px;
}

main .content .create-post .actions li label i.icon-camera, main .content .create-post .actions li a i.icon-camera {
  color: #31B057;
}

main .content .create-post .actions li label i.icon-video-1, main .content .create-post .actions li a i.icon-video-1 {
  color: #388BF2;
}

main .content .create-post .actions li label i.icon-edit, main .content .create-post .actions li a i.icon-edit {
  color: #E52A34;
}

main .content .create-post .actions li label i.icon-calendar-outlilne, main .content .create-post .actions li a i.icon-calendar-outlilne {
  color: #FC8338;
}

main .content .filter-box {
  height: 42px;
  background: rgba(222, 222, 222, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  border-radius: 6px;
}

main .content .filter-box h6 {
  font-size: 14px;
  font-weight: normal;
}

main .content .filter-box .selectbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .content .filter-box .selectbox select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #17272F;
  padding-right: 30px;
}

main .content .filter-box .selectbox i {
  font-size: 12px;
  color: #aaa;
  margin-left: 5px;
  position: absolute;
  right: 0;
  pointer-events: none;
}

main .content .post {
  background-color: #FFFFFF;
  margin-top: 14px;
  border-radius: 6px;
  padding: 13px 16px 20px;
  margin-bottom: 20px;
}

main .content .post .post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #EDF0F5;
}

main .content .post .post-header .post-author a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .post .post-header .post-author a img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-right: 12px;
}

main .content .post .post-header .post-author a .detail {
  padding-bottom: 2px;
}

main .content .post .post-header .post-author a .detail .name {
  color: #17272F;
  font-weight: 500;
  font-size: 14px;
  line-height: 16,41px;
}

main .content .post .post-header .post-author a .detail .job-title, main .content .post .post-header .post-author a .detail .date {
  color: #AAAAAA;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  padding: 2px 0;
}

main .content .post .post-header .more {
  width: 24px;
  height: 24px;
  color: #AAAAAA;
}

main .content .post .post-content {
  padding: 20px 0;
}

main .content .post .post-content p {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 12px;
}

main .content .post .post-content p:last-child {
  margin-bottom: 0;
}

main .content .post .post-content p a {
  font-weight: 400;
  color: var(--color);
  margin-right: 3px;
}

main .content .post .post-content p a:hover {
  text-decoration: underline;
}

main .content .post .post-alt-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  color: #17272F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EDF0F5;
  margin-bottom: 14px;
  padding-bottom: 14px;
}

main .content .post .post-alt-detail .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

main .content .post .post-alt-detail .likes img {
  font-size: 14px;
  margin-right: 10px;
}

main .content .post .post-alt-detail .likes img.heart {
  color: #E52A34;
}

main .content .post .post-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

main .content .post .post-actions a {
  font-size: 16px;
  color: #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

main .content .post .post-actions a i {
  font-size: 20px;
  margin-right: 5px;
}

main .content .post .post-actions a:hover {
  color: var(--color);
}

main .content .post .post-comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .post .post-comment-form img {
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

main .content .post .post-comment-form .textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #EDF0F5;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

main .content .post .post-comment-form .textarea textarea {
  background: transparent;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  resize: none;
  height: 50px;
  font-size: 14px;
}

main .content .post .post-comment-form .textarea textarea::-webkit-input-placeholder {
  color: #DEDEDE;
}

main .content .post .post-comment-form .textarea textarea:-ms-input-placeholder {
  color: #DEDEDE;
}

main .content .post .post-comment-form .textarea textarea::-ms-input-placeholder {
  color: #DEDEDE;
}

main .content .post .post-comment-form .textarea textarea::placeholder {
  color: #DEDEDE;
}

main .content .post .post-comment-form .textarea label {
  cursor: pointer;
  border-left: 1px solid #EDF0F5;
  padding-left: 16px;
  font-size: 18px;
  color: #A7B4CC;
  padding-right: 5px;
}

main .content .post .post-comment-form .textarea label:hover {
  color: var(--color);
}

main .content .post .post-comment-form .textarea label input {
  display: none;
}

.message-box {
  position: fixed;
  bottom: 0;
  right: 50px;
}

.message-box .message-header {
  width: 270px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(289.57deg, #006699 20.9%, #009099 111.3%);
  border-radius: 6px 6px 0 0;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  position: relative;
}

.message-box .message-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
  margin-right: 7px;
}

.message-box .message-header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20px;
}

.message-box .message-header .actions a {
  color: #FFFFFF;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 50%;
}

.message-box .message-header .actions a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=main.css.map */